# Build artifacts
bin/
obj/
resources.zip
build.sh
*.apk
*.idsig
*.dex

# Local configuration & backups
LAST_BACKUP_NAME
backup.py
*.zip
*.gz

# Generated assets
assets/python.tar.gz
python.tar.gz

# Security
debug.keystore

# IDE / System
.idea/
.gradle/
*.iml
.DS_Store
captures/
python_bundle/
